.page-not-found {
    border: 1px solid  #d9daeb;
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);
    padding: 30px;    

    position: absolute;
    top: 25%;
    left: 36%;

}

.page-not-found button {
    width: 80%;    
    margin: 15px 10% 25px 10%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    
    font-size: 17px;
    background-color: #5D5FEF;
    color: white;
    border: none;
    cursor: pointer;  
}

@media screen and (min-width: 0px ) and (max-width: 575px) {
    .page-not-found {
        left: 16%;
    }
}

@media screen and (min-width: 576px ) and (max-width: 767px) {
    .page-not-found {
        left: 25%;
    }
}

@media screen and (min-width: 768px ) and (max-width: 991px) {
    .page-not-found {
        left: 28%;
    }
}