
.header {
    background-image: url("https://i.ibb.co/Dp9R6P3/header-opacity-40.png");
    height: 524px;
    margin: 0 12% 0 12%;          
}

.header h1 {
    color: black;
    font-size: 45px;
    margin-top: 0;
    padding-top: 180px;    
}
.header h2 {    
    color: black;
    font-size: 30px;
}



@media screen and (min-width: 0px ) and (max-width: 575px) {    /* Device: Surface duo */
    .header {        
        margin: 0 5% 0 5%;         
    }    
}

@media screen and (min-width: 576px ) and (max-width: 767px) {  /* Device: Surface duo, landscape */
    .header {        
        margin: 0 5% 0 5%;    
    }
}

@media screen and (min-width: 768px ) and (max-width: 991px) {   /* Device: Ipad Air */
    .header {        
        margin: 0 6% 0 6%;    
    }
}











/* opacity: .8;    */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

    /* https://media.washtimes.com/media/image/2020/03/19/FamousQuotesFinal-900.jpg */
    /* https://i.ibb.co/ystXW9G/header.png */
    /* https://i.ibb.co/Dp9R6P3/header-opacity-40.png */