.statistics {
    
    max-width: 32%;    
    margin: auto;
    margin-top: 5%;
    /* border: 1px solid  #cfd0e6; */

    /* position: absolute;
    top: 20%;
    left: 28%;   */    
}

/* .chart {
    height: 300px;
    width: 300px;
} */

.statistics h4 {
    /* text-align: left; */
    /* margin-right: 7%;     */
}

@media screen and (min-width: 0px ) and (max-width: 575px) {    /* Device: Surface duo */
    .statistics {
        max-width: 75%;    
    }
}

@media screen and (min-width: 576px ) and (max-width: 767px) {  /* Device: Surface duo, landscape */
    .statistics {
        max-width: 55%;    
    }
}

@media screen and (min-width: 768px ) and (max-width: 991px) {  /* Device: Ipad Air */
    .statistics {
        max-width: 47%;    
    }
}